/* line 4, ../../sass/admin.scss */
.table td.admintd1 {
  text-align: center;
  width: 40px;
}
/* line 5, ../../sass/admin.scss */
.table td.admintd2 {
  text-align: center;
}
/* line 6, ../../sass/admin.scss */
.table td.admintd3 {
  text-align: center;
  width: 170px;
}
/* line 7, ../../sass/admin.scss */
.table td.admintd4 {
  text-align: center;
  width: 170px;
}
/* line 8, ../../sass/admin.scss */
.table td.admintd5 {
  text-align: center;
  width: 120px;
}
/* line 9, ../../sass/admin.scss */
.table td.admintd6 {
  text-align: center;
  width: 150px;
}
/* line 10, ../../sass/admin.scss */
.table td.reptd1 {
  text-align: center;
  width: 20px;
}
/* line 11, ../../sass/admin.scss */
.table td.reptd2 {
  text-align: center;
  width: 40px;
}
/* line 12, ../../sass/admin.scss */
.table td.reptd3 {
  text-align: center;
  width: 80px;
}
/* line 14, ../../sass/admin.scss */
.table td.reptd5 {
  text-align: center;
  width: 100px;
}
/* line 15, ../../sass/admin.scss */
.table td.reptd6 {
  text-align: center;
  width: 150px;
}
/* line 16, ../../sass/admin.scss */
.table td.reptd7 {
  text-align: center;
  width: 80px;
}

/* line 20, ../../sass/admin.scss */
h4 ul.dropdown_ul {
  display: inline-block;
  margin-right: 5px;
}
/* line 23, ../../sass/admin.scss */
h4 ul.dropdown_ul li {
  list-style: none;
  display: inline-block;
}
/* line 26, ../../sass/admin.scss */
h4 ul.dropdown_ul li ul.dropdown-menu {
  min-width: 60px;
}
/* line 28, ../../sass/admin.scss */
h4 ul.dropdown_ul li ul.dropdown-menu li {
  width: 100%;
}
/* line 34, ../../sass/admin.scss */
h4 span {
  font-size: 12px;
}

/* line 39, ../../sass/admin.scss */
.modal div.modal-body p {
  font-size: 15px;
}
/* line 42, ../../sass/admin.scss */
.modal input, .modal select {
  margin: 0 3px;
}

/* line 47, ../../sass/admin.scss */
#delgroup div.modal-body p, #delcate div.modal-body p, #deltag div.modal-body p {
  font-size: 15px;
}
/* line 49, ../../sass/admin.scss */
#delgroup div.modal-body p select, #delcate div.modal-body p select, #deltag div.modal-body p select {
  width: 120px;
  margin-right: 10px;
}

/* line 57, ../../sass/admin.scss */
#renamegroup div.modal-body select, #renamecate div.modal-body select {
  width: 120px;
  margin-right: 10px;
}

/* line 64, ../../sass/admin.scss */
#edittag dl {
  margin: 0;
}
/* line 67, ../../sass/admin.scss */
#edittag dt {
  width: 100px;
  float: left;
  font-weight: normal;
  color: #888;
  font-size: 15px;
  text-align: center;
  position: relative;
  top: 5px;
}
/* line 77, ../../sass/admin.scss */
#edittag dd {
  margin: 5px 0;
}

/* line 84, ../../sass/admin.scss */
#addgroup p, #addcate p {
  margin-bottom: 10px;
}

/* line 89, ../../sass/admin.scss */
tr.replydetail td {
  padding: 0;
  background: #f8f8f8;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
/* line 95, ../../sass/admin.scss */
tr.replydetail div.replyin {
  padding: 10px;
  margin: 15px 10px;
  border: 1px solid #ddd;
  background: #fff;
}
/* line 100, ../../sass/admin.scss */
tr.replydetail div.replyin div.reply_status {
  padding: 8px 10px;
  background: #f8f8f8;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 105, ../../sass/admin.scss */
tr.replydetail div.replyin div.reply_status span.pull-right {
  margin-top: 2px;
}
/* line 108, ../../sass/admin.scss */
tr.replydetail div.replyin div.reply_status select {
  margin-left: 10px;
  margin-bottom: 0;
}
/* line 113, ../../sass/admin.scss */
tr.replydetail div.replyin div.reply_content {
  padding: 8px;
}
/* line 115, ../../sass/admin.scss */
tr.replydetail div.replyin div.reply_content .user_reply, tr.replydetail div.replyin div.reply_content .admin_reply {
  vertical-align: top;
  background: #fff;
}
/* line 118, ../../sass/admin.scss */
tr.replydetail div.replyin div.reply_content .user_reply span, tr.replydetail div.replyin div.reply_content .admin_reply span {
  width: 80px;
  text-align: center;
  font-size: 15px;
  color: #888;
  float: left;
  margin-top: 5px;
}
/* line 126, ../../sass/admin.scss */
tr.replydetail div.replyin div.reply_content .user_reply > div, tr.replydetail div.replyin div.reply_content .admin_reply > div {
  border: 1px solid #ddd;
  min-height: 50px;
  margin-left: 90px;
  padding: 3px;
}
/* line 133, ../../sass/admin.scss */
tr.replydetail div.replyin div.reply_content .user_reply {
  margin-bottom: 10px;
}

/* line 143, ../../sass/admin.scss */
.manage_signup .manage_signup_function span {
  font-size: 15px;
  color: #666;
  margin-right: 15px;
}
/* line 147, ../../sass/admin.scss */
.manage_signup .manage_signup_function span.pull-right {
  margin-right: 0;
}
/* line 150, ../../sass/admin.scss */
.manage_signup .manage_signup_function span select, .manage_signup .manage_signup_function span input {
  margin-left: 5px;
  font-size: 13px;
  position: relative;
  top: 3px;
}
/* line 158, ../../sass/admin.scss */
.manage_signup div.pagination {
  text-align: center;
}
/* line 161, ../../sass/admin.scss */
.manage_signup table {
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 164, ../../sass/admin.scss */
.manage_signup table td {
  vertical-align: middle;
}
/* line 166, ../../sass/admin.scss */
.manage_signup table td select {
  margin-bottom: 0;
}
/* line 169, ../../sass/admin.scss */
.manage_signup table td button {
  margin: 0 3px;
}
/* line 172, ../../sass/admin.scss */
.manage_signup table td.ms_td1 {
  width: 20px;
  text-align: center;
}
/* line 173, ../../sass/admin.scss */
.manage_signup table td.ms_td2 {
  width: 60px;
  text-align: center;
}
/* line 174, ../../sass/admin.scss */
.manage_signup table td.ms_td3 {
  width: 100px;
  text-align: center;
}
/* line 175, ../../sass/admin.scss */
.manage_signup table td.ms_td4 {
  width: 100px;
  text-align: center;
}
/* line 176, ../../sass/admin.scss */
.manage_signup table td.ms_td5 {
  width: 60px;
  text-align: center;
}
/* line 177, ../../sass/admin.scss */
.manage_signup table td.ms_td6 {
  text-align: center;
}
/* line 178, ../../sass/admin.scss */
.manage_signup table td.ms_td7 {
  width: 145px;
  text-align: center;
}

/* line 183, ../../sass/admin.scss */
.manage_exam .manage_exam_function span {
  font-size: 15px;
  color: #666;
  margin-right: 15px;
}
/* line 187, ../../sass/admin.scss */
.manage_exam .manage_exam_function span.pull-right {
  margin-right: 0;
}
/* line 190, ../../sass/admin.scss */
.manage_exam .manage_exam_function span select, .manage_exam .manage_exam_function span input {
  margin-left: 5px;
  font-size: 13px;
  position: relative;
  top: 3px;
}
/* line 198, ../../sass/admin.scss */
.manage_exam div.pagination {
  text-align: center;
}
/* line 201, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table {
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 204, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table td {
  vertical-align: middle;
}
/* line 206, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table td select {
  margin-bottom: 0;
}
/* line 209, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table td button {
  margin: 0 2px;
}
/* line 212, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table td.mse_td1 {
  width: 20px;
  text-align: center;
}
/* line 215, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table td.mse_td4 {
  width: 70px;
  text-align: center;
}
/* line 216, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table td.mse_td5 {
  width: 100px;
  text-align: center;
}
/* line 217, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table td.mse_td6 {
  width: 55px;
  text-align: center;
}
/* line 218, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table td.mse_td7 {
  width: 40px;
  text-align: center;
}
/* line 219, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table td.mse_td8 {
  width: 180px;
  text-align: center;
}
/* line 222, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table tr.exam_detail > td {
  background: #fff;
  border: 1px solid #ddd;
}
/* line 226, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table tr.exam_detail table {
  border-top: none;
  margin-bottom: 0px;
}
/* line 230, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table tr.exam_detail table thead td {
  border-bottom: 1px solid #bbb;
  background: #ddd;
}
/* line 235, ../../sass/admin.scss */
.manage_exam table.manage_exam_main_table tr.exam_detail table td {
  padding: 4px 6px;
  color: #777;
  text-align: center;
}

/* line 245, ../../sass/admin.scss */
.divisions .manage_sendmail .alert {
  width: 90%;
  margin: 0 auto 25px auto;
}
/* line 249, ../../sass/admin.scss */
.divisions .manage_sendmail dl dd button {
  position: relative;
  top: -5px;
  margin-left: 5px;
}
/* line 254, ../../sass/admin.scss */
.divisions .manage_sendmail dd p {
  position: relative;
  top: -3px;
  margin-bottom: 10px;
}
/* line 259, ../../sass/admin.scss */
.divisions .manage_sendmail .htmleditor {
  height: 300px;
  width: 635px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
/* line 265, ../../sass/admin.scss */
.divisions .manage_sendmail .send_mail_list {
  margin-top: 5px;
  width: 625px;
  padding: 5px 5px 0 5px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
}
/* line 272, ../../sass/admin.scss */
.divisions .manage_sendmail .send_mail_list li {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 2px 5px;
  background: #f8f8f8;
  border: 1px solid #ccc;
  margin: 0 5px 5px 0;
}
/* line 279, ../../sass/admin.scss */
.divisions .manage_sendmail .send_mail_list li span.del {
  margin-left: 5px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 4px;
  line-height: 14px;
  position: relative;
  top: -2px;
}

/* line 293, ../../sass/admin.scss */
#selectsend {
  width: 700px;
  margin-left: -350px;
}
/* line 296, ../../sass/admin.scss */
#selectsend .class_list {
  border: 1px solid #ddd;
}
/* line 298, ../../sass/admin.scss */
#selectsend .class_list h4 {
  margin: 0;
  margin-bottom: 1px solid #ddd;
  background: #f8f8f8;
  font-size: 13px;
  padding: 4px 10px;
  line-height: 25px;
}
/* line 306, ../../sass/admin.scss */
#selectsend .class_list ul {
  border-top: 1px dotted #ccc;
}
/* line 308, ../../sass/admin.scss */
#selectsend .class_list ul li {
  list-style: none;
  padding: 5px 10px 5px 15px;
  border-bottom: 1px dotted #ccc;
}
/* line 312, ../../sass/admin.scss */
#selectsend .class_list ul li .stu_number {
  margin-left: 10px;
  font-size: 12px;
  color: #777;
}
/* line 317, ../../sass/admin.scss */
#selectsend .class_list ul li:last-child {
  border-bottom: none;
}
