/* line 2, ../../sass/lesson.scss */
.create_agree {
  margin-bottom: 100px;
}
/* line 5, ../../sass/lesson.scss */
.create_agree .argeebtns .agree {
  background: url(/public/images/lesson/lesson_agree_btn-1.png) no-repeat;
}
/* line 6, ../../sass/lesson.scss */
.create_agree .argeebtns .agree:hover {
  background: url(/public/images/lesson/lesson_agree_btn-2.png) no-repeat;
}
/* line 7, ../../sass/lesson.scss */
.create_agree .argeebtns .disagree {
  background: url(/public/images/lesson/lesson_agree_btn-3.png) no-repeat;
}
/* line 8, ../../sass/lesson.scss */
.create_agree .argeebtns .disagree:hover {
  background: url(/public/images/lesson/lesson_agree_btn-4.png) no-repeat;
}

/* line 11, ../../sass/lesson.scss */
.create_lesson {
  margin-bottom: 100px;
}
/* line 14, ../../sass/lesson.scss */
.create_lesson .create_inputs dt {
  color: #19a4b4;
}
/* line 17, ../../sass/lesson.scss */
.create_lesson .create_inputs p.custom_title {
  color: #19a4b4;
}
/* line 24, ../../sass/lesson.scss */
.create_lesson .create_tabs .nav-tabs li.ct01 a {
  background: url(/public/images/lesson/create_lesson_tabs-1.png) no-repeat;
}
/* line 25, ../../sass/lesson.scss */
.create_lesson .create_tabs .nav-tabs li.ct02 a {
  background: url(/public/images/lesson/create_lesson_tabs-2.png) no-repeat;
}
/* line 26, ../../sass/lesson.scss */
.create_lesson .create_tabs .nav-tabs li.ct03 a {
  background: url(/public/images/lesson/create_lesson_tabs-3.png) no-repeat;
}
/* line 27, ../../sass/lesson.scss */
.create_lesson .create_tabs .nav-tabs li.ct04 a {
  background: url(/public/images/lesson/create_lesson_tabs-4.png) no-repeat;
}
/* line 29, ../../sass/lesson.scss */
.create_lesson .create_tabs .nav-tabs li.active.ct01 a, .create_lesson .create_tabs .nav-tabs li:hover.ct01 a {
  background: url(/public/images/lesson/create_lesson_tabs_h-1.png) no-repeat;
}
/* line 30, ../../sass/lesson.scss */
.create_lesson .create_tabs .nav-tabs li.active.ct02 a, .create_lesson .create_tabs .nav-tabs li:hover.ct02 a {
  background: url(/public/images/lesson/create_lesson_tabs_h-2.png) no-repeat;
}
/* line 31, ../../sass/lesson.scss */
.create_lesson .create_tabs .nav-tabs li.active.ct03 a, .create_lesson .create_tabs .nav-tabs li:hover.ct03 a {
  background: url(/public/images/lesson/create_lesson_tabs_h-3.png) no-repeat;
}
/* line 32, ../../sass/lesson.scss */
.create_lesson .create_tabs .nav-tabs li.active.ct04 a, .create_lesson .create_tabs .nav-tabs li:hover.ct04 a {
  background: url(/public/images/lesson/create_lesson_tabs_h-4.png) no-repeat;
}

/* line 38, ../../sass/lesson.scss */
.main_title {
  color: #398ea0;
}

/* line 41, ../../sass/lesson.scss */
.lesson_detail {
  margin-bottom: 30px;
}
/* line 43, ../../sass/lesson.scss */
.lesson_detail .ad-gallery {
  display: block;
  float: left;
  width: 500px;
  margin-bottom: 20px;
}
/* line 48, ../../sass/lesson.scss */
.lesson_detail .ad-gallery .ad-image-wrapper {
  margin-bottom: 15px;
  -webkit-box-shadow: #999999 0px 0px 4px;
  -moz-box-shadow: #999999 0px 0px 4px;
  box-shadow: #999999 0px 0px 4px;
  border: 1px solid #aaa;
}
/* line 53, ../../sass/lesson.scss */
.lesson_detail .ad-gallery .ad-controls {
  display: none;
}

/* line 58, ../../sass/lesson.scss */
.lesson_info {
  display: block;
  width: 580px;
  margin-left: 530px;
}
/* line 62, ../../sass/lesson.scss */
.lesson_info dl {
  border: 1px solid #ddd;
  border-top: none;
  padding: 30px 20px 20px 20px;
  margin: 0;
  margin-bottom: 10px;
  -webkit-box-shadow: #cccccc 0px 2px 0px;
  -moz-box-shadow: #cccccc 0px 2px 0px;
  box-shadow: #cccccc 0px 2px 0px;
  background: #fafafa;
  font-size: 15px;
}
/* line 71, ../../sass/lesson.scss */
.lesson_info dl dt {
  float: left;
  width: 80px;
  font-weight: normal;
  color: #888;
  letter-spacing: .1em;
  text-align: center;
}
/* line 79, ../../sass/lesson.scss */
.lesson_info dl dd {
  margin-left: 100px;
  display: block;
  margin-bottom: 15px;
}
/* line 83, ../../sass/lesson.scss */
.lesson_info dl dd b {
  margin: 0 3px;
  color: #059548;
  font-weight: normal;
}
/* line 88, ../../sass/lesson.scss */
.lesson_info dl dd button {
  position: relative;
  top: -2px;
  margin-left: 10px;
}
/* line 93, ../../sass/lesson.scss */
.lesson_info dl dd .lesson_info_text {
  font-size: 13px;
  line-height: 20px;
  color: #888;
}
/* line 100, ../../sass/lesson.scss */
.lesson_info .share_btns {
  border: 1px solid #ddd;
  padding: 15px 10px;
  position: relative;
  top: 4px;
  text-align: center;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #f8f8f8;
  -webkit-box-shadow: #cccccc 0px 2px 0px;
  -moz-box-shadow: #cccccc 0px 2px 0px;
  box-shadow: #cccccc 0px 2px 0px;
  box-sizing: border-box;
  -moz-box-sizing: padding-box;
}

/* line 114, ../../sass/lesson.scss */
.lesson_img {
  max-height: 420px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #e7e7e7));
  background-image: -webkit-linear-gradient(#f8f8f8, #e7e7e7);
  background-image: -moz-linear-gradient(#f8f8f8, #e7e7e7);
  background-image: -o-linear-gradient(#f8f8f8, #e7e7e7);
  background-image: linear-gradient(#f8f8f8, #e7e7e7);
  border: 1px solid #ddd;
  padding: 10px;
  width: 470px;
  margin-left: 610px;
}
/* line 122, ../../sass/lesson.scss */
.lesson_img div.nailthumb-container {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 6px;
  border: 1px solid #fff;
}

/* line 130, ../../sass/lesson.scss */
.lesson_detail_tabs {
  margin-bottom: 50px;
}
/* line 132, ../../sass/lesson.scss */
.lesson_detail_tabs .nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
}
/* line 135, ../../sass/lesson.scss */
.lesson_detail_tabs .nav-tabs li {
  width: 120px;
  height: 40px;
  margin-right: 3px;
}
/* line 139, ../../sass/lesson.scss */
.lesson_detail_tabs .nav-tabs li a {
  border: none;
  width: 120px;
  height: 40px;
  text-indent: -10000em;
  padding: 0;
}
/* line 145, ../../sass/lesson.scss */
.lesson_detail_tabs .nav-tabs li a:hover {
  border: none;
}
/* line 149, ../../sass/lesson.scss */
.lesson_detail_tabs .nav-tabs li.ldt01 a {
  background: url(/public/images/lesson/lesson_detail_tabs-1.png) no-repeat;
}
/* line 150, ../../sass/lesson.scss */
.lesson_detail_tabs .nav-tabs li.ldt02 a {
  background: url(/public/images/lesson/lesson_detail_tabs-2.png) no-repeat;
}
/* line 151, ../../sass/lesson.scss */
.lesson_detail_tabs .nav-tabs li.ldt03 a {
  background: url(/public/images/lesson/lesson_detail_tabs-3.png) no-repeat;
}
/* line 153, ../../sass/lesson.scss */
.lesson_detail_tabs .nav-tabs li.active.ldt01 a, .lesson_detail_tabs .nav-tabs li:hover.ldt01 a {
  background: url(/public/images/lesson/lesson_detail_tabs_h-1.png) no-repeat;
}
/* line 154, ../../sass/lesson.scss */
.lesson_detail_tabs .nav-tabs li.active.ldt02 a, .lesson_detail_tabs .nav-tabs li:hover.ldt02 a {
  background: url(/public/images/lesson/lesson_detail_tabs_h-2.png) no-repeat;
}
/* line 155, ../../sass/lesson.scss */
.lesson_detail_tabs .nav-tabs li.active.ldt03 a, .lesson_detail_tabs .nav-tabs li:hover.ldt03 a {
  background: url(/public/images/lesson/lesson_detail_tabs_h-3.png) no-repeat;
}
/* line 159, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content {
  border: 1px solid #ccc;
  border-top: none;
  padding: 20px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* line 164, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div {
  margin-bottom: 25px;
  line-height: 20px;
}
/* line 167, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div .reference_mark {
  display: block;
  width: 40px;
  height: 36px;
  font-size: 60px;
  text-indent: -10000em;
  background: url(/public/images/lesson/mark.png) no-repeat;
  float: left;
}
/* line 175, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div .reference_mark.top {
  margin-right: 10px;
  position: relative;
  top: -4px;
}
/* line 180, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div .reference_mark.bottom {
  float: right;
  margin-left: 10px;
}
/* line 185, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div.lesson_reference .ldt_title {
  margin-left: 50px;
}
/* line 190, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div .ldt_refenence_addinfo {
  margin-top: 15px;
  padding: 20px;
  background: #f3f3f3;
}
/* line 195, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div h4.ldt_title {
  color: #26678d;
  border: 1px solid #b6d2dd;
  border-left: 6px solid #b6d2dd;
  padding: 4px 10px;
  background: #f8f8f8;
  font-size: 15px;
  margin-bottom: 8px;
  padding-bottom: 3px;
  font-weight: normal;
}
/* line 206, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div .ldt_reference {
  text-align: right;
  margin-top: 20px;
  color: #999;
  font-size: 15px;
  font-style: italic;
}
/* line 212, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div .ldt_reference a {
  margin: 0 4px;
  color: #777;
}
/* line 215, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div .ldt_reference a:hover {
  color: #ccc;
}
/* line 219, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div .ldt_reference:before {
  content: "ï½ž ";
}
/* line 223, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div:last-child {
  margin-bottom: 0;
}
/* line 227, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div.lesson_html p {
  margin-bottom: 5px;
}
/* line 232, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div.lesson_pic p {
  margin-top: 10px;
}
/* line 237, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div.lesson_spot .spots .spot {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
  -moz-box-sizing: padding-box;
}
/* line 246, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div.lesson_teacher .teacher_resume_2 {
  width: 540px;
}
/* line 248, ../../sass/lesson.scss */
.lesson_detail_tabs .tab-content .ldt_div.lesson_teacher .teacher_resume_2.short {
  width: 540px;
}

/* line 257, ../../sass/lesson.scss */
.case_item_with_text .ciwt_item {
  width: 325px;
  margin: 0;
  margin-bottom: 10px;
  display: block;
}
/* line 262, ../../sass/lesson.scss */
.case_item_with_text .ciwt_item .ciwt_info {
  display: block;
  width: 220px;
  margin-left: 100px;
  height: 90px;
}
/* line 267, ../../sass/lesson.scss */
.case_item_with_text .ciwt_item .ciwt_info .ciwt_title {
  margin-bottom: 5px;
  height: 20px;
  overflow: hidden;
}
