#{extends 'main.html' /} 
#{set title:'廣達志工簽退' /}


<script type="text/javascript">
	$(document).ready(function() {	
		var msg = $("#message").val();
		if(msg!="")
			alert(msg);
	
	});
	function send(){
		//檢查serial number是否有輸入
		var number = $("#serialNumber").val();
		if(number!="")
			myForm.submit();
		else
			alert("請輸入驗證序號");
	}
</script>

<div class="container">
	<input type="hidden" id="message" value="${message}" >
#{if session.contains("email")}	
	#{deadbolt.restrict roles:[['q_volunteer']]}
	<div class="row">
		<div id="content" class="span12">
			<div class="row span12">
			        <div class="tabbable">
						<ul class="nav nav-tabs" id="myTab">
						    <li class="active"><a href="#volunteer" data-toggle="tab">志工服務簽退</a></li>
						</ul>
						
						<div class="tab-content">
							<div class="tab-pane active" id="volunteer">
								<div class="row">
									<div class="span7">
										<form action="/quanta/volunteer/webcheckout" method="POST" name="myForm">
											<div class="alert alert-block">
  												<button type="button" class="close" data-dismiss="alert">&times;</button>
  												Please type the serial number you can find in the lobby.	
											</div>
											<span class="label label-important">Serial Number：</span>
											<br>
    										<input type="text" placeholder="Type the number" id="serialNumber" name="serialNumber">
											<br><br>
											#{if listMembers.size>0}
												<span class="label label-important">勾選一同參與的親屬：</span>
												<br>
												#{list items:listMembers, as:'member'}
													#{if session.get("email")!=member.email}
														<label class="checkbox">
														  <input name="memberCheckbox[]" type="checkbox" value="${member.email}">${member.username}
														</label>
													#{/if}
												#{/list}
												<br><br>
											#{/if}			
											<input type="button" class="btn btn-primary" value="送出" id="checkoutSubmit" OnClick="send()">
											<input type="reset" class="btn" value="清除(重填)" />  
										</form>
									</div>
								</div>
							</div>
														
						</div><!-- end of tab-content -->						
					</div> <!-- end of tabble -->
			</div>
		</div>
	</div>
	#{/deadbolt.restrict}		
#{/if}
#{else}
<a href="/quanta/admin" class="btn-block  btn btn-danger" >請先登入</a> 
#{/else}
</div>