#{extends 'main.html' /}
#{set title:'服務條款' /}

<div class="row-fluid sitediv">
	<div class="span10 offset1 divisions">
		<h3 class="title02">服務條款</h3>
		<div class="division">
			<div class="row-fluid">
				<div class="span12">
					<!--內容請塞入此處-->

					我們是一群想創造一些改變的小團隊。在不抵觸現有的教育體系下，希望能建立一種更活潑、更貼近生命、文化、多元的模式，
					讓小朋友是在「做」中學、在「體驗」中學，而不僅只於在「坐」中學、在「課本」上學。
					並且能以課後營隊或社團活動的型態來提供有別於安親班的服務，並讓自由教師可以有學以致用的空間。
					在教育界、文化界都有熱心的專家也在初期加入這個小計畫。雖然目前計畫規模很小，
					但希望在這一次的試辦活動中評估「放學趣」的概念可行性和不足之處，得以在短期內有明確改善的目標。
					如果您有任何想法，或是同樣對這個主題有興趣，歡迎隨時與我們聊聊。
					
					<br><br>
					<a href="/">放學趣 Funnytrip</a> 團隊敬上

					
					<!--編輯終點-->
				</div>
			</div>
		</div>
	</div>
</div>